<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to Blog application, a platform where we share insightful articles on
        technology, programming, and innovation. Our mission is to provide
        readers with engaging and informative content that empowers them to stay
        ahead in the ever-evolving tech landscape.
      </p>
      <p>
        We believe that knowledge is power. Whether you're a
        seasoned developer or just starting your journey, our blogs are tailored
        to offer something valuable for everyone. From tutorials and best
        practices to industry trends and deep dives into cutting-edge
        technologies, we cover it all.
      </p>
      <p>
        Our team is passionate about technology and committed to delivering
        quality content that inspires and educates. We strive to create a
        community where readers can learn, grow, and share their experiences.
        Join us on this exciting journey, and let's explore the world of tech
        together!
      </p>
      <p>
        If you have any questions or suggestions, feel free to reach out. We are
        always open to feedback and look forward to hearing from our readers.
        Thank you for visiting, and we hope you enjoy reading our
        blogs as much as we enjoy writing them.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
